@import (reference) '../../less/variables.less';

.swiper {
  &__button-prev,
  &__button-next {
    background-color: @color-gold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
}
.swiper-slide {
  background-color: @color-gray;
  height: auto;
}
