@import (reference) '../../less/variables.less';

.button {
  width: calc(100% - 40px);
  padding: 19px 0;
  border-top: 2px solid @color-gold;
  border-bottom: 2px solid @color-gold;
  border-radius: 2px;
  font-weight: 500;
  font-size: 16px;
  color: @color-gold;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;

  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -20px;
    width: 22px;
    height: 44px;
    border-bottom: 2px solid @color-gold;
    border-left: 2px solid @color-gold;
    transition: background-color 0 ease;
  }

  &::after {
    content: '';
    position: absolute;
    top: -2px;
    right: -20px;
    width: 22px;
    height: 44px;
    border-top: 2px solid @color-gold;
    border-right: 2px solid @color-gold;
    transition: background-color 0 ease;
  }

  &_brown {
    color: @color-brown;
    border-top: 2px solid @color-brown;
    border-bottom: 2px solid @color-brown;

    &::before {
      border-bottom: 2px solid @color-brown;
      border-left: 2px solid @color-brown;
    }

    &::after {
      border-top: 2px solid @color-brown;
      border-right: 2px solid @color-brown;
    }
  }

  &__line-deg {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -13px;
      width: 20px;
      height: 29px;
      border-left: 2px solid @color-gold;
      border-radius: 2px;
      transform: rotate(48deg);
      transition: background-color 0 ease;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: -13px;
      width: 20px;
      height: 29px;
      border-right: 2px solid @color-gold;
      border-radius: 2px;
      transform: rotate(48deg);
      transition: background-color 0 ease;
    }
  }

  &__line-deg_brown {
    &::before {
      border-left: 2px solid @color-brown;
    }

    &::after {
      border-right: 2px solid @color-brown;
    }
  }

  &:hover,
  &:hover::before,
  &:hover::after,
  &:hover .button__line-deg::before,
  &:hover .button__line-deg::after {
    background-color: @color-gold;
    color: @color-bg;
  }

  &_brown:hover,
  &_brown:hover::before,
  &_brown:hover::after,
  &:hover .button__line-deg_brown::before,
  &:hover .button__line-deg_brown::after {
    background-color: @color-brown;
  }

  @media (min-width: @sm) {
    max-width: 204px;
  }
}
