@content-width: 1216px;
@container-offset: 15px;
@container-width: calc(@content-width + (@container-offset * 2));
@font-family: 'Montserrat', 'Arial', sans-serif;
@font-size: 14px;
@font-weight: 400;
@line-height: 130%;

@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1200px;
@xxl: 1400px;

@color-gold: #fcd27e;
@color-gold-light: #fff6e3;
@color-brown: #ffb487;

@color-bg: #000;
@color-gray: #262626;
@color-white: #fff;
@color-error: #ff4d4d;
