@import (reference) '../../less/variables.less';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: linear-gradient(180deg, #171618 22.92%, rgba(23, 22, 24, 0) 100%);
  z-index: 1000;
  transition: background 0.3s ease-in-out;
  z-index: 99;

  &.is-active {
    background: @color-gray;
    box-shadow: 0px 4px 18px rgba(252, 210, 126, 0.17);
  }

  @media (min-width: @lg) {
    padding: 20px 0;
    transition: padding 0.3s ease-in-out;

    &.is-active {
      background: @color-gray;
      padding: 10px 0;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    position: absolute;
    height: 100vh;
    background: rgba(38, 38, 38, 0.7);
    backdrop-filter: blur(30px);
    width: 100%;
    top: 0;
    left: 0;
    padding: 28px;
    transition: all 0.5s ease-in-out;
    transform: translateX(-150%);
    overflow: auto;
    z-index: 100;

    @media (min-width: @md) {
      width: 50%;
    }
    @media (min-width: @lg) {
      padding: 56px 100px;
    }
    @media (min-width: @xxl) {
      width: 35%;
    }

    &--visible {
      transform: translateX(0);
    }
  }

  &__close {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
    border: none;
    background-color: initial;

    @media (min-width: @lg) {
      top: 56px;
      right: 56px;
    }
  }

  &__logo {
    margin-right: auto;
    overflow: hidden;
    width: 50px;
    transform: translateY(-5px);

    svg {
      fill: @color-gold;
    }

    @media (min-width: @sm) {
      overflow: visible;
    }
  }

  &__social {
    display: none;
    margin-right: 40px;

    @media (min-width: @md) {
      display: block;
    }
  }

  &__contacts {
    display: none;
    margin-left: auto;
    margin-right: 24px;

    @media (min-width: @lg) {
      display: flex;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out;
    font-weight: 700;
    font-size: 16px;

    svg {
      fill: @color-gold;
    }

    span {
      display: none;
    }

    &:not(:last-child) {
      margin-right: 28px;
    }

    &:hover {
      color: @color-gold;
    }

    @media (min-width: @xl) {
      span {
        display: block;
      }

      svg {
        margin-right: 10px;
      }
    }
  }

  &__btn {
    width: 162px;
    padding: 14px 0;
    border-top: 2px solid @color-gold;
    border-bottom: 2px solid @color-gold;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    color: @color-gold;
    text-align: center;
    cursor: pointer;
    position: relative;
    transform: translateX(-10px);

    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: -16px;
      width: 18px;
      height: 36px;
      border-bottom: 2px solid @color-gold;
      border-left: 2px solid @color-gold;
    }

    &::after {
      content: '';
      position: absolute;
      top: -2px;
      right: -16px;
      width: 18px;
      height: 36px;
      border-top: 2px solid @color-gold;
      border-right: 2px solid @color-gold;
    }
  }

  &__line-deg {
    &::before {
      content: '';
      position: absolute;
      top: 1px;
      left: -11px;
      width: 20px;
      height: 23px;
      border-left: 2px solid @color-gold;
      border-radius: 2px;
      transform: rotate(48deg);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 1px;
      right: -11px;
      width: 20px;
      height: 23px;
      border-right: 2px solid @color-gold;
      border-radius: 2px;
      transform: rotate(48deg);
    }
  }
  &__btn:hover,
  &__btn:hover::before,
  &__btn:hover::after,
  &__btn:hover .header__line-deg::before,
  &__btn:hover .header__line-deg::after {
    background-color: @color-gold;
    color: @color-bg;
  }
}
