@import (reference) '../../less/variables.less';

.calculator {
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 16px;
    text-align: center;

    @media (min-width: @md) {
      font-family: 'Bebas-Neue';
      font-size: 24px;
      margin-bottom: 10px;
      text-align: left;
    }
  }

  &__donat {
    display: block;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.4;
    color: @color-gold;
    margin-bottom: 30px;
    text-align: center;

    @media (min-width: @md) {
      text-align: left;
    }
  }

  &__range {
    margin-bottom: 35px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 6px;

    @media (min-width: @md) {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  &__radios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-bottom: 35px;
    transform: translateX(10px);

    @media (min-width: @md) {
      gap: 55px;
    }
  }

  &__label {
    grid-column: 2 span;
    cursor: pointer;
    height: 50px;

    @media (min-width: @md) {
      grid-column: 1 span;
    }
  }

  &__date {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked + .calculator__custom {
      color: @color-brown;
      border-top: 2px solid @color-brown;
      border-bottom: 2px solid @color-brown;
    }
    &:checked + .calculator__custom::before {
      border-bottom: 2px solid @color-brown;
      border-left: 2px solid @color-brown;
    }
    &:checked + .calculator__custom::after {
      border-top: 2px solid @color-brown;
      border-right: 2px solid @color-brown;
    }
    &:checked + .calculator__custom .calculator__line-deg::before {
      border-left: 2px solid @color-brown;
    }
    &:checked + .calculator__custom .calculator__line-deg::after {
      border-right: 2px solid @color-brown;
    }
  }

  &__custom {
    width: calc(100% - 20px);
    padding: 13px 0;
    border-top: 2px solid @color-white;
    border-bottom: 2px solid @color-white;
    border-radius: 2px;
    font-weight: 500;
    font-size: 16px;
    color: @color-white;
    text-align: center;
    cursor: pointer;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: -10px;
      width: 12px;
      height: 37px;
      border-bottom: 2px solid @color-white;
      border-left: 2px solid @color-white;
    }

    &::after {
      content: '';
      position: absolute;
      top: -2px;
      right: -10px;
      width: 12px;
      height: 37px;
      border-top: 2px solid @color-white;
      border-right: 2px solid @color-white;
    }

    @media (min-width: @lg) {
      width: 100%;
    }
  }

  &__line-deg {
    &::before {
      content: '';
      position: absolute;
      top: -1px;
      left: -6px;
      width: 10px;
      height: 18px;
      border-left: 2px solid @color-white;
      border-radius: 2px;
      border-top-left-radius: 2px;
      background-color: transparent;
      transform: rotate(396deg);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      right: -6px;
      width: 10px;
      height: 19px;
      border-right: 2px solid @color-white;
      border-radius: 2px;
      border-bottom-right-radius: 2px;
      transform: rotate(39deg);
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
  }

  &__values {
    flex: 1 1 100%;
    margin-bottom: 16px;
    text-align: center;

    @media (min-width: @sm) {
      flex: 1 1 50%;
    }

    @media (min-width: @lg) {
      text-align-last: left;
      flex: 1 1 33.333%;
      margin-bottom: 35px;
    }
  }

  &__out {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.4;

    span {
      color: @color-gold;
    }
  }
}
